<div class="text-center">
    <p>Created by {{user.name}}</p>
  <p>{{user.address}}</p>
    <div class="row mb-2">
      <div class="col-md-8">
          <img class="artwork-image card mh-100 w-100" src="{{image}}" alt="{{image}}">
      </div>
      <div class="col-md-4">
      </div>
    </div>
  </div>
  </div>
</div>
