<div class="container">
  <div class="">
      <div class="card-group mt-4 row">
          {{#each posts as |artwork|}}
            <div class="mb-5 card-container col-sm-12 col-md-6 col-xl-3">
              <img class="artwork-image card mh-100 w-100" src="{{image}}" alt="{{image}}">
              <div class="card-body">
                <h5 class="card-title">{{name}}</h5> 
              </div>
            </div>
          {{/each}}
      </div>
  </div>
</div>
