<!-- TODO: Loop over each Project and output the name, funding needed, User name, created date and description -->
<main id="body" class="container">
  <h2>Welcome to artJacent</h2>
  <h3>Please Login or Signup </h3>
  <div class="container">
    <a style="color: white; text-decoration: none;" href="/login">Login</a>
    <button class="no-button" id="login"></button>
  </div>

  <form class="form login-form">
    <div class="form-group">
      <label for="email-login">Email:</label>
      <input class="form-input" type="text" id="email-login" />
    </div>
    <div class="form-group">
      <label for="password-login">Password:</label>
      <input class="form-input" type="password" id="password-login" />
    </div>
    <div class="form-group">
      <button class="btn btn-primary" type="submit">Login</button>
    </div>
  </form>

  <div class="container">
    <a style="color: white; text-decoration: none;" href="/profile">Signup</a> 
    <button class="no-button" color="#065b83" id="signup"></button>
  </div>

  <form class="form signup-form">
    <div class="form-group">
      <label for="name-signup">Name:</label>
      <input class="form-input" type="text" id="name-signup" />
    </div>
    <div class="form-group">
      <label for="email-signup">email:</label>
      <input class="form-input" type="text" id="email-signup" />
    </div>
    <div class="form-group">
      <label for="password-signup">password:</label>
      <input class="form-input" type="password" id="password-signup" />
    </div>
    <div class="form-group">
      <button class="btn btn-primary" type="submit">signup</button>
    </div>
  </form>
</main>