  <main>
    <h2>{{name}}</h2>
    <h3>{{username}}</h3>
    <h3>{{email}}</h3>
    <h3>{{address}}</h3>
    <form action="/" enctype="multipart/form-data" method="post">
        <input type="file" name="image" accept='image/*' >
        <input type="submit" value="Upload">
    </form>  
  </main>