* {
  font-family: 'Poppins', sans-serif;
}

p {
  font-weight: 200;
}

header,
.project:not(:last-child) {
  background-color: #00adf2;
}

h1 {
  font-size: 100px;
  color: white;
  display: flex;
  justify-content: center;
  padding-top: 15px;
}

h2 {
  font-size: 30px;
  color: white;
  font-weight: bolder;
  display: flex;
  justify-content: center;
  align-items: center;
}

h3 {
  font-size: 20px;
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
}

.container{
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.image-upload-form {
  display: block;
}

span {
  color:black;
}

.card-container {
  max-height: 250px;
  max-width: 250px;
}

.artwork-image {
  object-fit: cover;
}

button {
  border: none;
  background: none;
}